{:watch-dirs ["src"]
 :application
 {:functions :all
  :pseudos   :all
  :types     #{"figcaption"
               "article"
               "section"
               "header"
               "footer"
               "figure"
               "table"
               "aside"
               "tbody"
               "small"
               "html"
               "body"
               "div"
               "img"
               "h1"
               "h2"
               "h3"
               "h4"
               "ul"
               "br"
               "li"
               "td"
               "i"
               "p"
               "b"
               "*"}}
 :build
 {:import {:input-files ["resources/public/css/bootstrap-grid.min.css"
                         "resources/public/css/style.css"]}

  :export {:output-file "resources/public/css/cleancss.css"}}}
