{:paths ["src" "resources"]
 :deps {org.clojure/clojurescript {:mvn/version "1.10.758"}
        reagent                   {:mvn/version "1.0.0-alpha2"}}
 :aliases {:dev {:extra-deps {binaryage/devtools        {:mvn/version "1.0.2"}
                              com.bhauman/figwheel-main {:mvn/version "0.2.7"}}}}}
