body {
    margin: 0px;
    overflow-y: scroll;
    font-family: 'Noto Serif', serif;
    font-size: 1.2em;
}
.content {
    width: 56em;
    margin: 3em auto;
}

section > div {
    width: 52em;
    margin: 2em;
}

.flex {
    display: flex;
}
.header {
    font-style: bold, italic;
    font-size: 16px;
}
.fullwidth {
    width: 100%;
}
h1, h2, h3 {
    font-style: italic;
}
h1 {
    font-size: 3.6rem;
    letter-spacing: -0.04em;
    margin: 0.5em 0;
}
h2 {
    font-size: 2.5rem;
    margin-bottom: 0;
    margin-top: 3em;
}
h3 {
    font-weight: 400;
    font-size: 1.7rem;
}
h4 {
    font-family:  'Gill Sans', sans;
    font-weight: 700;
}

.l {
    font-size: 1.3em;
}

aside {
    margin-left: 1.5em;
    width: 66rem;
    position: relative;
}

.info-table > aside {
    width: 30rem !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.to-bottom {
    position: absolute;
    bottom: 0;
}

.facts-header {
    text-decoration: underline;
    color: dodgerblue;
    margin-left: 2em;
    margin-bottom: 4em;
    display: block;
}

.ok-before {
    list-style: none;
    padding: 0;
}
.ok-before > li {
    padding-left: 2rem;
    text-indent: -1.7rem;
    margin: 0.5em 0;
}
.ok-before > li::before {
    content: "👌 ";
}

.green {
    color: #3abd7d;
}

.orange {
    color: #f88359;
}

.blue {
    color: #0458e7;
}

figure {
    margin-left: 0;
    margin-right: 0;
}

figcaption {
    width: 20em;
}

.jian-hands > figcaption {
    position: absolute;
}

.jian-hands > img {
    margin: -4em -4em 0;
    width: 61em;
}

.ycuken > img,
.qwerty > img,
.layers > img {
    margin: 0 -3em;
}

.ycuken > img,
.layers > img {
    width: 60em;
}

.icon {
    height: 0.8em;
    vertical-align: middle;
}

footer {
    height: 10em;
    position: relative;
    margin: 2em;
}

.info-table {
    padding: 1em 5em;
    margin: 0 -5em;
    background-color: #f9f5e4;
    border-radius: 1em;
    display: flex;
}
.table {
    display: table;
}
.thead {
    display: table-header-group;
}
.tr {
    display: table-row;
}
.th, .td {
    display: table-cell;
    padding: 1em 1.5em;
    text-align: center;
}
.th {
    border-bottom: 1px solid black;
    font-weight: 600;
    font-family:  'Gill Sans', sans;
}
